.list-con{
    background-color: #f9f9f9;
border : 1px solid  #edebe9 ;
padding: 20px;
}
.list{
    text-decoration: none;
    list-style: none;
    display: flex;
    column-gap: 20px;
    margin-left: 7%;
    font-size: small;
    font-weight: 500;
}
.list > li:hover{
    text-decoration: underline;
}
.sidebar{
    margin-left:  8%;
    height: auto;

}
.menu-hero{
    margin-left: 10%;
    /* width: 400px; */
    height: 200px;
    /* border: 2px solid red; */
}